body {
  background-color: #202020;
  /* background-image: linear-gradient(315deg, #000000 0%, #414141 74%); */
}
.navbar {
  background-color: #18191a;
}
.logo {
  color: white !important;
  font-size: 22px;
  font-weight: bold;
}
.nav {
  color: #dbdde1;
  font-size: 18px;
  font-weight: bold;
}
.nav:hover {
  color: white;
}
.login {
  display: flex;
  flex: 2;
  justify-content: center;
  margin: 50px;
  color: white;

  height: 100vh;
}
.product {
  border: 5px solid white;
  border-radius: 20px;
}
.ourproducts {
  display: flex;
  justify-content: space-evenly;
}
.productName {
  text-align: center;
  color: white;
}
.productHeading {
  padding: 15px 0px 15px 0px;
  color: white;
  text-align: center;
}
.slider {
  /* background-repeat: no-repeat; */
  background-size: cover;
}
.clients {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.clientImage {
  border-radius: 100%;
  width: 150px;
}
.footer {
  margin-top: 30px;
  background-color: #18191a;
  color: white;
  display: flex;
  justify-content: center;
  position: relative;
  bottom: 0px;
  text-align: center;
}
.store {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.productDetail {
  display: flex;
  color: white;
  justify-content: center;
  margin: 50px;
  flex-wrap: wrap;
}
.productImage {
  display: flex;
  width: 450px;
  height: 500px;
  border: 10px solid white;
  border-radius: 20px;
  margin-right: 50px;
}
@media only screen and (max-width: 980px) {
  .ourproducts {
    flex-wrap: wrap;
  }
  .product {
    margin-bottom: 20px;
  }
  .clients {
    flex-wrap: wrap;
  }
}
